<!DOCTYPE html>
<html>
<head>
  <title>人力そいれんと</title>
</head>
<body>
<h1>人力そいれんと</h1>
<h2>Nutrition Facts</h2>
<p>1  日間で</p>
<p>必要な栄養の 80 %を摂る</p>

<table border="2" rules="groups">
<!-- 列のグループ(span)、属性を設定 -->
<colgroup></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<!-- 表のヘッダ -->
<thead>
  <tr>
    <th colspan="1" rowspan="3">nutrition</th>
    <th colspan="2" rowspan="3">s / n</th>
    <th colspan="2" rowspan="3">need</th>
    <th colspan="2" rowspan="3">supply</th>
<% @foods.each do |food| %>
    <th colspan="2" rowspan="1"><%= food.name%></th>
<% end %>
  </tr>
  <tr>
<% @foods.each do |food| %>
    <td>1</td>
    <td><%= food.unit%></td>
<% end %>
  </tr>
  <tr>
<% @foods.each do |food| %>
    <td>100</td>
    <td>g</td>
<% end %>
  </tr>
</thead>
<!-- 表のボディ -->
<tbody>
<% @nutrients.each.with_index(0) do |nutrient, i| %>
  <tr>
    <td><%= nutrient.name %></td>
    <td>100</td>
    <td>%</td>
    <td><%= nutrient.quantity %></td>
    <td><%= nutrient.unit %></td>
    <td>100</td>
    <td><%= nutrient.unit %></td>
<% @foods.each do |food| %>
    <td><%= food.getNutrition(i)%></td>
    <td><%= nutrient.unit %></td>
<% end %>
  </tr>
<% end %>
</tbody>
</table>
</body>
</html>
