<!DOCTYPE html>
<html>
<head>
  <title>人力そいれんと</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- タイトル -->
<h1><%= link_to '人力そいれんと', controller: 'calc_nutrition', action: 'show' %></h1>
<%= form_tag :action => 'update' do %>
<!-- 目標設定 -->
<p>
  <%= select_tag 'form[term]', options_for_select([["１", 1], ["２", 2], ["３", 3], ["４", 4], ["５", 5], ["６", 6], ["７", 7], ["８", 8], ["９", 9], ["１０", 10]], :selected => @term, :id => 'hoge') %>
  日間で
</p>
<p id="hoge">
  必要な栄養素量の
  <%= select_tag 'form[percent]', options_for_select([["１０", 10], ["２０", 20], ["３０", 30], ["４０", 40], ["５０", 50], ["６０", 60], ["７０", 70], ["８０", 80], ["９０", 90], ["１００", 100]], :selected => @percent) %>
  %を摂る
</p>
<%= submit_tag '目標を更新' %>
<hr>
<!-- 食材追加 -->
<p>
  <%= select 'form', 'addedFoodId', @foods.all.collect {|food| [food.name, food.id]}, {include_blank: true}%>
</p>
<p>
  <%= submit_tag '食材を追加' %>
</p>
<hr>
<!-- メインの表 -->
<h2>Nutrition Facts</h2>
<table border="2" rules="groups">
  <!-- 列のグループ(span)、属性を設定 -->
<colgroup></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
  <!-- 表のヘッダ -->
<thead>
  <tr>
    <!--
    <th colspan="1" rowspan="3">nutrition</th>
    <th colspan="2" rowspan="3">％</th>
    <th colspan="2" rowspan="3">need</th>
    <th colspan="2" rowspan="3">supply</th>
  -->
    <th colspan="1" rowspan="2">nutrition</th>
    <th colspan="2" rowspan="2">％</th>
    <th colspan="2" rowspan="2">need</th>
    <th colspan="2" rowspan="2">supply</th>
<% @currentFoods.each do |food| %>
    <th colspan="2" rowspan="1"><%= food.name%></th>
<% end %>
  </tr>
<!--
食材別に単位を設けたい
  <tr>
<% @currentFoods.each do |food| %>
    <td>1</td>
    <td><%= food.unit%></td>
<% end %>
  </tr>
-->
  <tr>
<% @currentFoods.each do |food| %>
  <%= hidden_field_tag "form[currentFoodIds][]", "#{food.id}"%>
    <td><%= number_field_tag 'quantities[]', '1', min:0, max:50, step: 0.1, value: "#{food.quantity}"%>×100</td>
    <td>g</td>
<% end %>
  </tr>
</thead>
  <!-- 表のボディ -->
<tbody>
<% @nutrients.each.with_index(0) do |nutrient, i| %>
  <tr>
    <td><%= nutrient.name %></td>
    <!-- ％ -->
    <td class="<%= @status[i]%>">
      <%= (@supplies[i] / @needs[i] * 100).to_i %>
    </td>
    <td>%</td>
    <!-- need -->
    <td><%= @needs[i] %></td>
    <td><%= nutrient.unit %></td>
    <!-- supply -->
    <td><%= @supplies[i]%></td>
    <td><%= nutrient.unit %></td>
<% @currentFoods.each.with_index(0) do |food, j| %>
    <td>
      <%= (food.getNutrition(i) * food.quantity).round(1) %>
    </td>
    <td><%= nutrient.unit %></td>
<% end %>
  </tr>
<% end %>
</tbody>
</table>
<%= submit_tag "食材の量を反映" %>
<% end %>
<hr>
<%= yield %>
<hr>
<!-- 説明文 -->
<h2>What is 人力そいれんと？</h2>
<p>『人力そいれんと』は、ソイレントと同じ栄養素量を普通の食材から摂ることを目的としたツールです。</p>
<h2>使い方</h2>
<ol>
  <li>ソイレント何日分×何％分の栄養素量を摂りたいかを選びます</li>
  <li>食材の種類と量を選びます</li>
  <li>更新ボタンを押します</li>
  <li>栄養素ごとに、必要量（need）と、選んだ食材からの供給量（supply）が表示されます</li>
  <li>needに対するsupplyの割合が、％欄に表示されます</li>
  <li>100％に満たない栄養素は、赤く表示されます</li>
  <li>すべての栄養素を100%（青表示）にするように、食材の量を加減します</li>
</ol>
<h2>使い方のヒント</h2>
<h3>何日分にするか？</h3>
<ul>
  <li>
    1日に必要な栄養素量を、1日単位で毎日摂り続けることは難しいです。数日間の単位で、その期間に必要な栄養素量を摂ることを目指しましょう。ある日足りなかった栄養素を、別の日に補うことができるようになります
  </li>
  <li>
    期間は、スーパーで何日分の食材をまとめ買いするかによって決めます。例えば5日分の食材を、ソイレント5日分の栄養素量を満たすように購入します。それを5日間かけて全て食べれば、必要な栄養素量の目標を達成できたことになります
  </li>
</ul>
<h3>何％分にするか？</h3>
<ul>
  <li>
    食べる食材の量をすべて計算することは難しいです。実際に食材を買って家で調理する分など、自分が食材の種類や量をコントロールできる食事について、計算しましょう
  </li>
  <li>
    例えば、昼食はいつも外食で、朝食や夕食のみ自宅で調理して食べる場合、目標を100％から70〜80％に下げて、朝と夕に食べる食材だけ計算しましょう。残りの栄養素は、昼食で摂っていることにします。昼食で何を食べるかはコントロールできないので、いっそ割り切って計算しないことにします
  </li>
</ul>
<h3>どの食材を食べるか？</h3>
<ul>
  <li>
    大まかにどんな食材をどれくらい摂るべきかを知りたい場合は、
    ハーバード公衆衛生大学院が公開している
    <%= link_to "Healthy Eating Plate & Healthy Eating Pyramid（外部サイト、英語）", "https://www.hsph.harvard.edu/nutritionsource/healthy-eating-plate/"%>
    を参考にします
  </li>
  <li>
    足りない栄養素量を補うための食材は、
    <%= link_to "簡単！栄養andカロリー計算（外部サイト）", "http://www.eiyoukeisan.com/"%>
    を利用して探します。栄養素別の食材ランキングが掲載されています
  </li>
</ul>
</body>
</html>
