<!DOCTYPE html>
<html>
<head>
  <title>人力そいれんと</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= link_to "人力そいれんと", controller: "calc_nutrition", action: "show" %></h1>
<%= form_tag :action => 'update' do %>
<p>
  <%= select_tag "term", options_for_select([["１", 1], ["２", 2], ["３", 3], ["４", 4], ["５", 5], ["６", 6], ["７", 7], ["８", 8], ["９", 9], ["１０", 10]], :selected => @term, :id => 'hoge') %>
  日間で
</p>
<p id="hoge">
  必要な栄養素量の
  <%= select_tag 'percent', options_for_select([["１０", 10], ["２０", 20], ["３０", 30], ["４０", 40], ["５０", 50], ["６０", 60], ["７０", 70], ["８０", 80], ["９０", 90], ["１００", 100]], :selected => @percent) %>
  %を摂る
</p>
<%= submit_tag "更新" %>
<h2>Nutrition Facts</h2>
<table border="2" rules="groups">
<!-- 列のグループ(span)、属性を設定 -->
<colgroup></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<!-- 表のヘッダ -->
<thead>
  <tr>
    <!--
    <th colspan="1" rowspan="3">nutrition</th>
    <th colspan="2" rowspan="3">％</th>
    <th colspan="2" rowspan="3">need</th>
    <th colspan="2" rowspan="3">supply</th>
  -->
    <th colspan="1" rowspan="2">nutrition</th>
    <th colspan="2" rowspan="2">％</th>
    <th colspan="2" rowspan="2">need</th>
    <th colspan="2" rowspan="2">supply</th>
<% @foods.each do |food| %>
    <th colspan="2" rowspan="1"><%= food.name%></th>
<% end %>
  </tr>
<!--
  <tr>
<% @foods.each do |food| %>
    <td>1</td>
    <td><%= food.unit%></td>
<% end %>
  </tr>
-->
  <tr>
<% @foods.each do |food| %>
    <td><%= number_field_tag 'quantities[]', '1', min:0, max:50, step: 0.1, value: "#{food.quantity}"%>×100</td>
    <td>g</td>
<% end %>
  </tr>
</thead>
<!-- 表のボディ -->
<tbody>
<% @nutrients.each.with_index(0) do |nutrient, i| %>
  <tr>
    <td><%= nutrient.name %></td>
    <!-- ％ -->
    <td class="<%= @status[i]%>">
      <%= (@supplies[i] / @needs[i] * 100).to_i %>
    </td>
    <td>%</td>
    <!-- need -->
    <td><%= @needs[i] %></td>
    <td><%= nutrient.unit %></td>
    <!-- supply -->
    <td><%= @supplies[i]%></td>
    <td><%= nutrient.unit %></td>
<% @foods.each.with_index(0) do |food, j| %>
    <td><%= (food.getNutrition(i) * food.quantity).round(1) %></td>
    <td><%= nutrient.unit %></td>
<% end %>
  </tr>
<% end %>
</tbody>
</table>
<%= submit_tag "更新" %>
<% end %>
<%= yield %>
<h2>What is 人力そいれんと？</h2>
<p>『人力そいれんと』は、ソイレントと同じ栄養素量を普通の食材から摂ることを目的としたツールです。</p>
<h2>使い方</h2>
<ol>
  <li>ソイレント何日分×何％分の栄養素量を摂りたいかを選びます</li>
  <li>食べる食材の量を選びます</li>
  <li>更新ボタンを押します</li>
  <li>栄養素ごとに、必要量（need）と、選んだ食材からの供給量（supply）が表示されます</li>
  <li>needに対するsupplyの割合が、％欄に表示されます</li>
  <li>100％に満たない栄養素は、赤く表示されます</li>
  <li>すべての栄養素を100%（青表示）にするように、食材の量を加減します</li>
</ul>
<h2>使い方のヒント</h2>
<ul>
  <li>
    食べる食材の量をすべて計算することは難しいです。実際に食材を買って家で調理する分など、自分が食材の種類や量をコントロールできる食事について、計算しましょう
  </li>
  <li>
    例えば、昼食はいつも外食で、朝食や夕食のみ自宅で調理して食べる場合、目標を100％から70〜80％に下げて、朝と夕に食べる食材だけ計算しましょう。残りの栄養素は、昼食で摂っていることにします。昼食で何を食べるかは、コントロールできないので計算しません
  </li>
  <li>
    スーパーなどでまとめて食材を買う場合は、何日分をまとめ買いするかを決めます。それに合わせて、ソイレント何日分の栄養素量を摂るかを選択します
  </li>
</ul>
</body>
</html>
